[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
babel = "*"
mock = "*"
coveralls = "*"

[packages]
lxml = "*"
pystache = "==0.5.3"
requests = "*"
configobj = "*"
osmapi = "*"
osconf = "*"
raven = "*"
click = "*"
osmium = "*"
"psycopg2" = "*"
pony = "*"
ModestMaps = ">=1.4.2"
"Jinja2" = "*"
Shapely = "*"

[requires]
python_version = "3.6"
